<div class="d-flex justify-content-center align-items-center" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span></span>
    </div> &nbsp;
    <span>Loading..</span>
  </div>           
  
  <div style="text-align: center;" *ngIf="!isLoading">
    <h5>Lista de Registros</h5>
  </div>
  
  <div class="container" style="width: 80%;" *ngIf="!isLoading">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="filterbynombre" (ngSubmit)="onSearchbyname()">
          <div class="row mb-3">
            <div class="col-md-4">
              <label for="idUsuario" class="form-label">Consultar Por NOmbre</label>
              <input id="idUsuario" class="form-control" formControlName="nombre"> 
            </div>
          </div>
            
          <br>
          <button type="submit" class="btn btn-primary">Buscar</button>
          <button type="button" class="btn btn-secondary" (click)="onReset()">Limpiar</button>
        </form>      
      </div>
    </div>
  </div>

  <div class="container" style="width: 80%;" *ngIf="!isLoading">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="filterbyNumeroDocumento" (ngSubmit)="onSearchNumeroDocumento()">
          <div class="row mb-3">
            <div class="col-md-4">
              <label for="idUsuario" class="form-label">Consultar por Numero Documento</label>
              <input id="idUsuario" class="form-control" formControlName="NumeroDocumento"> 
            </div>
          </div>
            
          <br>
          <button type="submit" class="btn btn-primary">Buscar</button>
          <button type="button" class="btn btn-secondary" (click)="onReset()">Limpiar</button>
        </form>      
      </div>
    </div>
  </div>


  <div class="container" style="width: 80%;" *ngIf="!isLoading">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="filterFormFecha" (ngSubmit)="onSearchbyname()">
          <div class="row mb-3">
            <div class="col-md-4">
              <label for="fechaDe" class="form-label">Fecha de nacimiento desde</label>
              <div class="input-group">
                <input id="fechaDe" class="form-control" formControlName="fechaNacimientoDesde" ngbDatepicker #dpFrom="ngbDatepicker">
                <button class="btn btn-outline-secondary" (click)="dpFrom.toggle()" type="button">
                  <i class="bi bi-calendar"></i>
                </button>
              </div>                
            </div>
            <div class="col-md-4">
              <label for="fechaDe" class="form-label">Fecha de hasta</label>
              <div class="input-group">
                <input id="fechaDe" class="form-control" formControlName="fechaNacimientoHasta" ngbDatepicker #dpFrom="ngbDatepicker">
                <button class="btn btn-outline-secondary" (click)="dpFrom.toggle()" type="button">
                  <i class="bi bi-calendar"></i>
                </button>
              </div>                
            </div>
          </div>
            
          <br>
          <button type="submit" class="btn btn-primary">Buscar</button>
          <button type="button" class="btn btn-secondary" (click)="onReset()">Limpiar</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container" style="width: 80%;" *ngIf="!isLoading">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-secondary" (click)="ConsultaMasTelefonos()">Consultar Clientes con mas de dos Telefonos</button>
      </div>
    </div>
  </div>

  <div class="container" style="width: 80%;" *ngIf="!isLoading">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-secondary" (click)="ConsultaMasDirecciones()">Consultar Clientes con mas de dos direcciones</button>
      </div>
    </div>
  </div>

